<table border="1px">
    <tr>
        <td> Nome </td>
        <td> Preparo </td>
        <td> Ingredientes </td>
        <td> Categoria </td>
        <td> Editar </td>
        <td> Deletar </td>
    </tr>
    {{#each reservas}}
    <tr>
        <td>{{nome}}</td>
        <td>{{preparo}}</td>
        <td>{{ingredientes}}</td>
        <td>{{espacoId}}</td>
        <td><a href="reservaUpdate/{{id}}">Editar</a></td>
        <td><a href="reservaDelete/{{id}}">Deletar</a></td>
    </tr>
    {{/each}}
</table>